{% extends "Map/geocaching_map_base.html" %}
{% load i18n %}
{% load static %}

{% block menu_item_geokrety %}active{% endblock %}
{% block in_head %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/js/leaflet/leaflet.css' %}" />
    <script src="{% static '/js/leaflet/leaflet.js' %}"></script>
    <script src="/jsi18n/" type="text/javascript"></script>
    <script src="{% static '/js/browser_kind.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/map.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/leaflet/plugins/Leaflet.MousePosition-master/src/L.Control.MousePosition.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static '/js/leaflet/plugins/Leaflet.MousePosition-master/src/L.Control.MousePosition.css' %}" />
    <script src="{% static '/js/leaflet/plugins/L.GeoSearch-develop/src/js/l.control.geosearch.js' %}"></script>
    <link rel="stylesheet" href="{% static '/js/leaflet/plugins/L.GeoSearch-develop/src/css/l.geosearch.css' %}" />
    <script src="{% static '/js/leaflet/plugins/L.GeoSearch-develop/src/js/l.geosearch.provider.openstreetmap.js' %}"></script>
    <script src="{% static '/js/leaflet/plugins/leaflet-providers-master/leaflet-providers.js' %}"></script>
    <script src="{% static '/js/leaflet/plugins/PruneCluster-master/dist/PruneCluster.js' %}"></script>
    <link rel="stylesheet" href="{% static '/js/leaflet/plugins/PruneCluster-master/LeafletStyleSheet.css' %}" />



  <script src="{% static '/js/geokrety_map.js' %}" type="text/javascript"></script>


  <script src="/jsi18n/" type="text/javascript"></script>
  <!--script src="{% static '/js/infobubble.js' %}" type="text/javascript"></script-->

  <script type="text/javascript">

    function initURLs() {
      GeoKretyMap.geokret_info_url = '{% url 'map-geokret-info' %}';
      GeoKretyMap.change_country_url = '{% url 'geokrety-map-change-country' %}';
      GeoKretyMap.text_changed = false;
      GeoKretyMap.tip_text = '{{ tooltip_text }}';
      GeoKretyMap.find_by_waypoint_url = '{% url 'geokret-map-search-by-waypoint' %}';
      GeoKretyMap.get_things_url = '{% url 'geokret-map-get-geokrety' %}';
      {% if geokret_waypoint.lat %}
      GeoKretyMap.geokret_waypoint = {
          lat: {{ geokret_waypoint.lat }},
          lng: {{ geokret_waypoint.lng }}};
      {% endif %}
    }

  </script>

{% endblock %}


{% block main-content %}
<div class="row">
  <div class="col-md-6">
    <input type="text" class="form-control form-control-sm" id="waypoint" name="waypoint"
        placeholder="{% if user_waypoint %}{{ user_waypoint }}{% else %}{{ tooltip_text }}{% endif %}"
        value="" onChange="text_changed=true;" size="10"
        onKeyUp="return GeoKretyMap.key_pressed_here(event);" />
  </div>
  <div class="col-md-1">
    <input type="submit" value="{% trans "Search" %}"
        class="btn btn-primary btn-sm" onClick="GeoKretyMap.go_out();" />
  </div>

  <div class="col-md-4">
    <span class="" id="id_count">
       {% if geokrety_count %}{% trans "found" %}: {{ geokrety_count|default_if_none:""}}{% endif %}
    </span>
    <span id="map_spinner" style="display:none">
      <img src="{% static '/img/spinner-bar.gif' %}" />
    </span>
  </div>
</div>


<div class="container">
  <div id="map" class="map map-home" style="height: 500px; margin-top: 50px"></div>

</div>

<script>
    initURLs();
    GeoKretyMap.init([{{ map_center.lat }}, {{ map_center.lng }}], {{ map_zoom }});
</script>

<br />
<div class="row">
    <div class="col-md-4">
    <table>
        <tr><td><img src="{% static '/img/kret_green.png' %}"/></td><td>{% trans "Green traveler" %}</td></tr>
        <tr><td><img src="{% static '/img/kret_yellow.png' %}"/></td><td>{% trans "Practiced traveler, distance less than 500 km" %}</td></tr>
        <tr><td><img src="{% static '/img/kret_red.png' %}"/></td><td>{% trans "Experienced traveler, distance more than 500 km" %}</td></tr>
    </table>
  </div>
  <span class="col-md-2">
    <a href="http://geokrety.org" target="_blank">
      <img src="{% static '/img/logo-puste.png' %}" />
    </a>
  </span>
</div>

{% endblock %}
