{% load i18n %}
<style>
  .cach-info-div {
    padding: 5px;
}
</style>

<div class="geokret-info-div">
  <div>
    <a href="{{ waypoint_url }}" target="_blank">
      <span class="infofont">{% trans "Cache" %}: {{ kret_point.waypoint }}</span>
    </a>
  </div>
  <br/><br/>
  {% for geokret in krety %}
    <a href="{{ geokret.url }}" target="_blank">
      <span class="infofont">{{ geokret.reference_number }}</span>
    </a>
    <span class="infofont">{{ geokret.distance }}{% trans "km" %} </span>
    <b>{{ geokret.name }}</b>
  {% endfor %}
</div>
