{% extends "DataImport/data_import_wizard.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type='text/JavaScript'>

function import_data()
{
    document.mainform.action.value = 'import_data'

    xml_http_call_url('', '', 
                      function(content, status, xml_request) 
                      {
                          if (content.errors) {
                              document.mainform.log.value = content.errors
                          }    
                          else
                          {   
                              replaceElement('id_log', content.log_html)
                          }    

                      }, 
                      function(status) {}, 
                      formContents()
                     )
}


connect(window, 'onload', function() {
    // immediately perform import
    import_data()
})

</script>

{% endblock %}

{% block active_step %}
  <form enctype="multipart/form-data" method="post" action="" 
        name="mainform">

    {{ form.action }}

    {{ form.log.label }}
    <div class="log">
      {{ form.log }}
    <div>  

    <input type="button" value="{% trans 'Import again' %}" 
           onclick="import_data()" />

  </form>
{% endblock %}

