Django==3.1.2
beautifulsoup4
pymysql
mysqlclient
Pillow
anyjson
celery
cracklib
django-celery
ghettoq
lxml
twill
python-memcached
pygooglechart
ez_setup
django-google-charts
django-registration
django-profiles
geopy
django-easy-maps
django-geoposition
django-olwidget
django-social-auth
django-tables2
django-filter
django-crispy-forms
certifi
quickchart.io
django-location-field
