{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Please confirm global action apply' %}: {{ action }}</h1>
    <ul>
      <li>{% trans 'Selected items' %}: {{ amount }}</li>
    </ul>

    <form method="post">
      {% for v in request.POST.iteritems %}
      {% ifequal 'record_id' v.0 %}
      {% for r in records %}
      <input type="hidden" name="record_id" value="{{ r }}" />
      {% endfor %}
      {% else %}
      <input type="hidden" name="{{ v.0 }}" value="{{ v.1 }}" />
      {% endifequal %}
      {% endfor %}
      <br />
      <input type="submit" name="confirmed" value="{% trans 'Confirm' %}" />
    </form>
{% endblock %}
