{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load admintable %}

<form method="get">
{% for field in table.getvars_list %}<input type="hidden" name="{{ field.0 }}" value="{{ field.1 }}" />
{% endfor %}<input type="hidden" name="action" value="quicksearch" />
<table>
  {% for c in fields_to_search_on %}  <tr>
    <td>{{ c.1 }}</td>
    <td><input type="text" name="{{ c.0 }}" value="" /></td>
  </tr>{% endfor %}
</table>

<input type="submit" name="start" value="{% trans 'Search' %}" />
<input type="button" name="cancel" value="{% trans 'Cancel' %}" onclick="javascript: history.go(-1)" />
</form>

{% endblock %}
