{% load i18n %}
{% ifequal ftype "integer" %}Exact match <input type="text" size="5" name="exact:{{ field.name }}"> {% trans 'Range' %}: {% trans 'Min' %} <input type="text" size="5" name="min:{{ field.name }}"> {% trans 'Max' %} <input size="5" type="text" name="max:{{ field.name }}">
{% endifequal %}
{% ifequal ftype "text" %}<input type="text" size="51" name="like:{{ field.name }}"> 
<input type="checkbox" name="exact:{{ field.name }}">{% trans 'Exact match' %}{% endifequal %}
{% ifequal ftype "datetime" %}<input type="radio" name="{{ field.name }}" value="any" checked="checked"> Any || 
<input type="radio" name="{{ field.name }}" value="None"> NULL ||
<input type="radio" name="{{ field.name }}" value="last"> {% trans 'last' %} <input type="text" size="2" name="{{field.name }}.lastxdays"> {% trans 'days' %} ||
<input type="radio" name="{{ field.name }}" value="any"> {% trans 'Period between' %} <input type="text" name="from_{{ field.name }}" size="10" maxsize="10"> {% trans 'and' %} <input type="text" name="to_{{ field.name }}" size="10" maxsize="10"> ({% trans 'format' %}: {% trans 'YYYY-MM-DD' %})
{% endifequal %}

