{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load admintable %}


<script type="text/javascript">
var storedfilters=Array();
function show_condition_input() {

    if (this.value=='undefined') {
	replaceChildNodes('value-input', null);
	setStyle($('condition-selector'),{'display': 'none'});
    } else {
	setStyle($('condition-selector'),{'display': 'inline'});
    }

    populate_condition_selector(this.value);
}
function clear_date_example() {
    if (this.value=='YYYY-MM-DD') {
	this.value='';
    }
}


function delfilter(id) {
    removeElement('filter-rule-'+id, null);
    var current_rules = getElementsByTagAndClassName('li', 'filter-rule');
    if (current_rules.length==0) {
	showElement('no-rules');
	hideElement('start-search-submit');
	hideElement('save');
    }
}

function display_current_filters() {
    {% for rule in table.search_rules_list %}
    // {{ rule|safe }}
    addfilter('{{ rule.field_name|safe }}', '{{ rule.field_title|safe }}',
	      '{{ rule.condition_value|safe }}', '{{ rule.condition_title|safe }}',
	      '{{ rule.value1|safe }}', '{{ rule.value2|safe }}');
    {% endfor %}
}

function addfilter(field_name, field_title,
		   condition_value, condition_title,
		   value1, value2) {
    var current_rules = getElementsByTagAndClassName('li', 'filter-rule');
    hideElement('no-rules');
    setStyle('start-search-submit',{'display':'inline'});
    setStyle('save',{'display':'inline'});
    var next_rule_id = Math.round(Math.random()*10000);
    var rule = LI({'class': 'filter-rule', 'id': 'filter-rule-'+next_rule_id});
    appendChildNodes(rule, SPAN({'class': 'field'},'Field "'+field_title+'"'));
    appendChildNodes(rule, SPAN({'class': 'condition'}, condition_title));

    if (condition_value=='eq' ||
	condition_value=='ne' ||
	condition_value=='lte' ||
	condition_value=='gte' ||
	condition_value=='like'
       ) {
	appendChildNodes(rule, SPAN({'class': 'value'}, value1));
	appendChildNodes(rule, INPUT({'type': 'hidden',
				      'name': field_name+':'+condition_value,
				      'value': value1}));
    } else if (condition_value=='null') {
	appendChildNodes(rule, INPUT({'type': 'hidden',
				      'name': field_name+':'+condition_value,
				      'value': 'true'}));
    } else if (condition_value=='dtequal' ||
	       condition_value=='before' ||
	       condition_value=='since'
	      ) {
	appendChildNodes(rule, SPAN({'class': 'value'}, value1));
	appendChildNodes(rule, INPUT({'type': 'hidden',
				      'name': field_name+':'+condition_value,
				      'value': value1}));

    } else if (condition_value=='period' ||
	       condition_value=='lastmonth' ||
	       condition_value=='lastweek' ||
	       condition_value=='lastday' ||
	       condition_value=='lastyear' ) {
	appendChildNodes(rule, SPAN({'class': 'value'}, value1+
				    ' - '+value2));
	appendChildNodes(rule, INPUT({'type': 'hidden',
				      'name': field_name+':period', //+condition_value,
				      'value': value1+'---'+value2}));

    } else if (condition_value=='true' ||
	       condition_value=='false') {
	appendChildNodes(rule, INPUT({'type': 'hidden',
				      'name': field_name+':'+condition_value,
				      'value': condition_value}));

    } else if (condition_value=='bool') {
	appendChildNodes(rule, INPUT({'type': 'hidden',
				      'name': field_name+':'+condition_value,
				      'value': value1}));


    } else {
	alert('unknown condition value: '+condition_value);
    }
    appendChildNodes(rule, A({'href': '#',
			      'onclick': 'delfilter('+next_rule_id+');'},
			     '{% trans 'Remove this line' %}'))

    // appendChildNodes(rule, INPUT({'type': 'text', 'name': 'value'})
    appendChildNodes('current-filters',rule);
    return false;

}

function addfiltersubmit() {
    var field = $('field-selector').options[$('field-selector').selectedIndex]
    var field_name = field.value;
    var field_title = field.text;
    var condition = $('condition-selector').options[$('condition-selector').selectedIndex];
    var condition_value = condition.value;
    var condition_title = condition.text;
    var value1 = value2 = null;

    if (condition_value=='eq'  || condition_value=='ne' || condition_value=='lte' ||
	condition_value=='gte' || condition_value=='like') {
	value1 = $('value').value;
    } else if (condition_value=='null') {
	value1 = 'true';
    } else if (condition_value=='dtequal' ||
	       condition_value=='before' ||
	       condition_value=='since'
	      ) {
	value1 = $('dateinput1').value;
    } else if (condition_value=='period' ||
	       condition_value=='lastmonth' ||
	       condition_value=='lastweek' ||
	       condition_value=='lastday' ||
	       condition_value=='lastyear' ) {
	value1 = $('dateinput1').value;
	value2 = $('dateinput2').value;

    } else if (condition_value=='true' ||
	       condition_value=='false') {
	value1 = condition_value;

    } else {
	alert('{% trans 'Condition value not recognized' %}: '+condition_value);
    }
    addfilter(field_name, field_title, condition_value, condition_title, value1, value2);
    return false;
}

function startfilter() {
    for (var i=0; i<document.forms.length; i++) {
    	var form = document.forms[i];
    	if (form.id=='filters') {
    	    form.submit();
    	}
    }
}

function resetallfilters() {
    for (var i=0; i<document.forms.length; i++) {
    	var form = document.forms[i];
    	if (form.id=='filters') {
	    $('action-field-id').value='reset';
    	    form.submit();
    	}
    }
}


function show_value_input() {
    var today = '{{ today }}';
    var lastweek = '{{ lastweek }}';
    var lastmonth = '{{ lastmonth }}';
    var lastyear = '{{ lastyear }}';
    replaceChildNodes('value-input', null);

    if (this.value == 'eq' || this.value == 'lte' || this.value == 'gte' ||
	this.value == 'ne' || this.value == 'like') {
	appendChildNodes('value-input', INPUT({'type': 'text', 'name': 'value', 'id': 'value'}));
    } else if (this.value == 'null') {
	// no action
    } else if (this.value == 'undefined') {
	hideElement('add-filter-submit');
	return false;
    } else if (this.value == 'dtequal' || this.value == 'since' ||
	       this.value == 'before') {
	appendChildNodes('value-input', INPUT({'type': 'text', 'name': 'value',
					       'size': '9',
					       'maxlength': '10',
					       'id': 'dateinput1',
					       'value': 'YYYY-MM-DD'}));
	connect('dateinput1','onclick', clear_date_example);

    } else if (this.value == 'period' ||
 	       this.value == 'lastday'  || this.value == 'lastmonth' ||
	       this.value == 'lastyear' || this.value == 'lastweek') {

	appendChildNodes('value-input', INPUT({'type': 'text', 'name': 'date_start',
					       'size': '9',
					       'id': 'dateinput1',
					       'maxlength': '10',
					       'value': 'YYYY-MM-DD'}));

	appendChildNodes('value-input', INPUT({'type': 'text', 'name': 'date_end',
					       'size': '9',
					       'id': 'dateinput2',
					       'maxlength': '10',
					       'value': 'YYYY-MM-DD'}));
	if (this.value == 'lastday') {
	    $('dateinput1').value=today;
	    $('dateinput2').value=today;
	} else if (this.value == 'lastmonth') {
	    $('dateinput1').value=lastmonth;
	    $('dateinput2').value=today;
	} else if (this.value == 'lastweek') {
	    $('dateinput1').value=lastweek;
	    $('dateinput2').value=today;
	} else if (this.value == 'lastyear') {
	    $('dateinput1').value=lastyear;
	    $('dateinput2').value=today;
	} else {
	    connect('dateinput1', 'onclick', clear_date_example);
	    connect('dateinput2', 'onclick', clear_date_example);
	}

    } else {
	// appendChildNodes('value-input', INPUT({'type': 'submit', 'value': 'Add'}));
    }
    //appendChildNodes('value-input', INPUT({'type': 'submit', 'name': 'add',
//					   'value': '{% trans 'Add Filter' %}'}));

    setStyle($('add-filter-submit'),{'display': 'inline'});

}

function saveas() {
    var filtername = prompt("{% trans 'Save this search as' %}", "");
    if (filtername != null) {
	$('saveas-field').value = filtername;
	startfilter();
    }
    return false;
}

function filter_info(obj) {
    var info = null;
    for (var i=0; i<storedfilters.length; i++) {
	if ('delete-filter-'+storedfilters[i]['id']==obj.id) {
	    info = storedfilters[i];
	}
    }
    return info;
}


function deletefilter() {
    // delete filter from configured filters table
    info = filter_info(this);
    row_to_remove = 'filter-'+info['id'];
    r = doSimpleXMLHttpRequest('', { {% for v in table.getvars_list %}{{ v.0 }}:'{{ v.1 }}',
				     {% endfor %}
				     action: 'delete',
				     id: info['id']
				   }).addCallback(
	partial(removeElement, row_to_remove)
    );

    //removeElement(row_to_remove);
}

window.onload = function () {
    display_current_filters();
    hideElement('add-filter-submit');
    connect('field-selector', 'onchange', show_condition_input);
    connect('condition-selector', 'onchange', show_value_input);
    connect('add-filter-submit', 'onclick', addfiltersubmit);
    connect('reset-all-filters', 'onclick', resetallfilters);
    connect('start-search-submit', 'onclick', startfilter);
    connect('save', 'onclick', saveas);
    {% for filter in table.configured_filters %}
    connect('delete-filter-{{ filter.id }}', 'onclick', deletefilter);
    storedfilters[storedfilters.length] = ({'name': '{{ filter.name }}',
					    'href': '{{ table.getvars }}&action=delete&name={{ filter.name }}',
					    'id': '{{ filter.id }}'});
    {% endfor %}
}

function populate_condition_selector(nametype) {
    replaceChildNodes('value-input', null);
    setStyle($('add-filter-submit'),{'display': 'none'});
    var condselectoritems = Array(OPTION({'value': 'undefined'},    "{% trans 'Choose condition' %}..."),
				  OPTION({'value': 'eq'},    "== {% trans 'Equal' %}"));
    if (!contains(':datetime', nametype)) {
	condselectoritems.push(OPTION({'value': 'ne'},   "!= {% trans 'NOT Equal' %}"));
    }

    switch(true) {
    case(contains(':integer', nametype)):
	condselectoritems.push(OPTION({'value': 'lte'},  "< {% trans 'Less Than' %}"));
	condselectoritems.push(OPTION({'value': 'gte'},  "> {% trans 'Greater Than' %}"));
	break;
    case(contains(':varchar', nametype)):
	condselectoritems.push(OPTION({'value': 'like'},  "{% trans 'Contains' %}"));
	break;
    case(contains(':bool', nametype)):
	condselectoritems = Array(OPTION({'value': 'undefined'},    "{% trans 'Choose condition' %}..."),
				  OPTION({'value': 'true'},  "{% trans 'True' %}"),
				  OPTION({'value': 'false'}, "{% trans 'False' %}"));
	break;

    case(contains(':datetime', nametype)):
	condselectoritems = Array(OPTION({'value': 'undefined'},    "{% trans 'Choose condition' %}..."),
				  OPTION({'value': 'dtequal'},  "{% trans 'Equal' %}"),
				  OPTION({'value': 'since'},  "{% trans 'Since' %}"),
				  OPTION({'value': 'before'},  "{% trans 'Before' %}"),
				  OPTION({'value': 'period'},  "{% trans 'Date Range' %}"),
				  OPTION({'value': 'lastday'}, "{% trans 'Last day' %}"),
				  OPTION({'value': 'lastweek'}, "{% trans 'Last week' %}"),
				  OPTION({'value': 'lastmonth'}, "{% trans 'Last month' %}"),
				  OPTION({'value': 'lastyear'}, "{% trans 'Last year' %}")
				 );
	break;


    }

    condselectoritems.push(OPTION({'value': 'null'}, "{% trans 'NULL Not Specified' %}"))
    replaceChildNodes('condition-selector', condselectoritems);

}
</script>

<div id="search-form">

  <fieldset>
    <legend>{% trans 'Add new filter (search)' %}</legend>

  <div id="current-rules">
    <form id="filters" method="get">
    <input type="hidden" id="saveas-field" name="saveas" value="">
    <input type="hidden" id="action-field-id" name="action" value="start_search" />
      {% for g in table.getvars_list %}
      <input type="hidden" name="{{ g.0 }}" value="{{ g.1 }}">
      {% endfor %}
      <p id="no-rules">
	{% trans 'There are no filters defined' %}.
      </p>
      <ol id="current-filters"></ol>
    </form>
  </div>


  <form id="addfilterform" onsubmit="return false;">
    <select id="field-selector" name="fieldname">
      <option value="undefined">{% trans 'Add new filter on column' %} ...</option>
      {% for field in table.searchable_fields %}
      <option value="{{ field.name }}:{{ field.db_type }}">{{ field.verbose_name }}</option>
      {% endfor %}
    </select><select id="condition-selector" name="condition" style="display:none;">
      <option value="undefined">{% trans 'Choose condition' %}</option>
    </select>
    <div id="value-input"></div>
    <input type="submit" id="add-filter-submit" name="addfilter" value="{% trans 'Add filter line' %}">

    <br><br>
    <input type="submit" id="start-search-submit" name="startsearch" value="{% trans 'Start search' %}">
    <input type="submit" id="reset-all-filters" name="resetfilters" value="{% trans 'Reset all filters' %}">
    <input type="button" id="save" name="save" value="{% trans 'Save filter as' %} ...">
    <input value="Back" type="button" onclick="document.location.href='?{{ table.getvars }}';">
  </form>
    <br>



<div class="help">
  <ul><h4>{% trans 'Help on setting filters' %}</h4>
    <li>{% trans 'For date field "since" can be specified as "-X" days. For example, to get data for last week, you can specify it as "-7". For last year: "-365"' %}</li>
    <li>{% trans 'For date field you can use "d", "w", "h" modifiers which mean days, weeks, hours and special "midnight" modifier. "-" is optional.' %}</li>
    <li>{% trans 'Use %s to specify template (you will be asked to provide value on call to this search)' %}.</li>
  </ul>


</div>

  </fieldset>
</div>

<div id="configured-filters">

  <fieldset>
    <legend>{% trans 'Configured filters' %}</legend>

    <table>
      <tr>
	<th>{% trans 'Filter name' %}</th>
	<th>{% trans 'Access' %}</th>
	<th colspan="3">{% trans 'Action' %}</th>
      </tr>
      {% for filter in table.configured_filters %}
      <tr id="filter-{{ filter.id }}" class="{% cycle odd,even %}">
	<td class="first-cell" onclick="document.location.href='?restore={{ filter.name }}';">{{ filter.name }}</td>
	<td class="action-cell">{% if filter.is_public %}{% trans 'Public' %}{% else %}{% trans 'Private' %}{% endif %}</td>
	<td class="action-cell"><a href="?restore={{ filter.name }}-{{ filter.user.username }}">{% trans 'Run' %}</a></td>
    <td class="action-cell"><a href="?{{ table.getvars }}&restore={{ filter.name }}&action=editfilter">{% trans 'Edit' %}</a></td>
	<td id="delete-filter-{{ filter.id }}" class="action-cell-delete"><a href="#">{% trans 'Delete' %}</a></td>
      </tr>
      {% endfor %}
    </table>

  </fieldset>
</div>


{% endblock %}

