.horizontalcssmenu { 
  border-width: 1px;
  border-style: solid;
  margin-left: 20px;
  margin-right: 20px;
}

.horizontalcssmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Top level list items*/
.horizontalcssmenu ul li{
  position: relative;
  display: inline;
  float: left;
}


/*Top level menu link items style*/
.horizontalcssmenu ul li a{
  display: block;
  width: 120px; /*Width of top level menu link items*/
  padding: 2px 8px;
  text-decoration: none;
  font: bold 13px Tahoma;
}

	
/*Sub level menu*/
.horizontalcssmenu ul li ul
{
  border-style: solid;
  border-width: 1px;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 100;
}

/*Sub level menu list items*/
.horizontalcssmenu ul li ul li{
  display: inline;
  float: none;
}

.horizontalcssmenu .menuitemtitle 
{ 
  font-family: arial, helvetica;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: underline;
  text-align: center;
  padding-left: 25px;
  color: white;
  font-style: italic;
}


/* Sub level menu links style */
.horizontalcssmenu ul li ul li a{
  width: 160px; /*width of sub menu levels*/
  font-weight: normal;
  padding: 2px 5px;
  font-weight: bold;
}


.horizontalcssmenu ul li ul li a:hover {
  font-weight: bold;
}

.horizontalcssmenu .arrowdiv{
  position: absolute;
  right: 0;
}

* html h1#iepara { /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
  margin-top: 50px;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */
