{% load i18n %}
{% load args %}
{% comment %}
table - > instanse of BaseTableView,
          see __iter__ method

row  -> instanse of BoundRow
cell -> instanse of BoundCell

{% endcomment %}
<script>
function show_save_dialog(obj, table_id, order_by) {
    args = {'action': 'save_state'};
    if (order_by) {
        args['sort_by'] = order_by;
    }

    df = doSimpleXMLHttpRequest('', args);
    df.addCallback(function(result) {
        alert("State has been saved success");
        location.href="?profile=default";
    });
    return false;
}

function show_save_as_dialog(obj, table_id, order_by) {
    save_as = prompt("Enter name for save state");

    if (save_as) {
        args = {'action': 'save_state_as',
                'name': save_as};

        if (order_by) {
            args['sort_by'] = order_by;
        }

        df =  loadJSONDoc('', args);
        df.addCallback(function(result) {
            if (result.status == 'OK') {
                alert("State has been saved success");
                location.href="?profile="+result.id;
            } else {
                alert("Unexpected error occured while saving profile");
            }
        });
    }
    return false;
}

function remove_profile(profile_id) {
    if (!confirm("Do you want to remove profile?")) {
        return false;
    }
    args = {
        'action': 'remove_profile',
        'value': profile_id
        };
    df = doSimpleXMLHttpRequest('', args);
    df.addCallback(function(result) {
        alert("Profile has been removed");
        location.href = location.href;
    });
    return false;
}
</script>

<div id="toolbar">
{% if table.search %}
  <form id="changelist-search" action="" method="get">
    <div><!-- DIV needed for valid HTML -->
      <label for="searchbar"><img src="/media/img/admin/icon_searchbox.png" alt="{% trans 'Search' %}" /></label>
      <input type="text" size="40" name="search" value="{{ controller.search_value|default_if_none:"" }}" id="searchbar" />
      <input type="submit" value="{% trans 'Search' %}" />
    </div>
  </form>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
<a href="" onclick="Layer.toggle_display('setup_dialog_{{ table.id }}', this); return false;">{% trans 'Columns' %}</a> |
<a href="" onclick="Layer.toggle_display('filter_dialog_{{ table.id }}', this); return false;">{% trans 'Filter' %}</a> |
<a href="" onclick="return show_save_dialog(this, '{{ table.id }}', '{{ request.GET.sort_by }}');">{% trans 'Remember as default state' %}</a> |
<a href="" onclick="return show_save_as_dialog(this, '{{ table.id }}', '{{ request.GET.sort_by }}');">{% trans 'Remember state as' %}</a>
</div>

{% if controller.paginator %}
  {% with controller.paginator as paginator %}
    {% include "paginator.html" %}
  {% endwith %}
{% endif %}

<table class="table table-striped table-bordered">
    {% include "table_head.html" %}
    <tbody>
        {% for row in controller.get_paginated_rows %}
        <tr id="{{ row.get_id }}" class="{{ row.get_row_class }}">
            {% for cell in row %}
                <td {{ cell.html_cell_attr }} {% if cell.get_cell_class %}class="{{ cell.get_cell_class }}"{% endif %} {% if cell.get_cell_style %}style="{{ cell.get_cell_style }}"{% endif %}>{{ cell.as_html }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if controller.paginator %}
  {% with controller.paginator as paginator %}
    {% include "paginator.html" %}
  {% endwith %}
{% endif %}

<div id="filter_dialog_{{ table.id }}" class="" style="width: 500px;">
    <h1>{% trans 'Filter form' %}</h1>
    <form action="?{% args request.GET 'profile' 'custom' %" method="POST">
        <table>
        {{ filter_form }}
        </table>
        <input type="submit" name="form_filter" value="{% trans 'Apply' %}">
    </form>
</div>
