html {
    overflow: auto;
}

ul {
    padding-left: 0; /* remove strange left padding */        
}    

ul.errorlist {
    font-style: oblique;
}

ul.speclist {
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.speclist li {
    height: 330;
    float:left;
    margin-top: 20;
}

.speclist li.no-top-margin {
    margin-top: 0;
    margin-bottom: 20px; 
}

.speclist li.newrow {
    float: none;
}

select, textarea  {
    width: 400;
}


#id_dummy_equals {
    width: 50;
}

label {
    vertical-align: top;
}
