.horizontalcssmenu { 
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  height: 21px;
}

#header { 
  display: none;
}


div.breadcrumbs { 
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  background: #272727 url(/img/YP4_hp/yp_home_bg_01.gif) repeat-x 0 0;
  border-top-color: #6f6368;
  border-bottom-color: #413a3d;
  border-left-color: #6f6368;
  border-right-color: #413a3d;
}

div.breadcrumbs a:hover  { 
  background: url(/gpsfunadmin/menubgover.gif) center center repeat-x;
  color: black;
}


#content {  
  font-family: arial, helvetica;
  border: 0px solid #808a8b;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding: 10px 10px 10px 10px;
}


#content h1,h2,h3,h4 
{ 
  font-family: arial, helvetica;
  color: #36acc3; 
  text-align: center; 
  margin-left: 30px;
  margin-right: 30px;
}

ul.messagelist li 
{ 
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  border: 0px solid blue;
  color: white;
  font-style: italic;
  background-color: #272727;
}

.object-tools li, .object-tools li:hover 
{ 
  background-color: #272727;
  background-image: none;
  border-color: #413a3d;
}


#container .object-tools a 
{ 
  background-image: none;
  background-color: #272727;
}

div { 
      background-color: #272727;
  border: 0px solid red;
}

#container #content-main .form-row { 
  border-bottom: 1px solid #413a3d;
}

.required label, label.required {
  color: white !important;
}

#content-main .submit-row , .selector select 
{
  background: #272727 url(/img/YP4_hp/yp_home_bg_01.gif) repeat-x 0 0;
  border: 0px solid red;
  color: #fff;
}

#content-main .selector, #content-main .selector .selector-filter, #content-main .selector .selector-available h2,  
#content-main .selector .selector-chosen h2
{
  background: #272727 url(../img/admin/nav-bg.gif) repeat-x scroll left bottom;
  color:#f7f7f7;
  border: 0px solid red;
}

#content-main .selector select { 
  border: 1px solid #313a3d;
}

.submit-row input, input.default[type="submit"]
{ 
  color: white;
  background: #272727;
}

.change-list .filtered { 
  border: 0px solid red;
  background: #272727 url(../img/admin/nav-bg.gif) repeat-x scroll left bottom;
}

#content-main #changelist table td, #content-main #changelist table th, #content-main table td , #content-main table th
{ 
  border: 1px solid #413a3d;
  background: #272727 url(../img/admin/nav-bg.gif) repeat-x scroll left bottom;
}

#content-main  #toolbar { 
  border: 0px solid red;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#content-main #changelist 
{ 
  background: #272727 url(../img/admin/nav-bg.gif) repeat-x scroll left bottom !important;
}

#content-main #changelist-filter ,   #content-related #recent-actions-module
{ 
  background: #272727 url(../img/admin/nav-bg.gif) repeat-x scroll left bottom !important;
  border: 1px solid #413a3d;
  margin-left: 10px;
}


#content-related #recent-actions-module h2, #content-related #recent-actions-module h3
{ 
  background-color: #272727;
  background-image: none;
  border: 0px solid red;
  color: #36abc2;
}

#changelist-filter li.selected 
{
  border: 0px solid red;
}

#content-main .paginator
{ 
  background: #272727;
  border: 0px solid #413a3d;
  text-align: left;
}

#content-main .paginator a { 
  background: #272727;
}


#content-main .paginator a:hover { 
  background: url(/gpsfunadmin/menubgover.gif) center center repeat-x;
}

#content-main table caption { 
  background-color: #808a8b;
  color: black;
  background-image: none;
}

#content.colMS  { 
  margin-top: 20px;
  border: 0px solid red;
}

a { 
  padding-left: 3px;
  padding-right: 3px;
}

a:link, a:visited { 
  text-decoration: underline;
}

.module 
{ 
  border: 0px solid red;
  margin-bottom: 15px;
} 

a:hover { 
  background: url(/gpsfunadmin/menubgover.gif) center center repeat-x;
  color: black;
}
