body { 
  background: #272727 url(/img/YP4_hp/yp_home_bg_01.gif) repeat-x 0 0;
}

a:link, a:visited { 
  color: #bbc9db;
}

a:hover { 
  color: black;
}

#ypcontent #content {  
  color: white;
  border-color: #808a8b;
}

#ypcontent #content table { 
  color: white;
}


.errorlist { 
  color: red; 
}

#ypcontent #content {  
  border-color: #808a8b;
}


#ypcontent #content table td { 
  border-color: #413a3d;
}

#ypcontent form input , form input, textarea { 
  background: #ddd;
  color: #000;
}

#ypcontent form input:focus, form input:focus { 
  background: yellow;
}

#ypcontent .warning { 
  color: #e00;
}

#ypcontent form input[type=submit]:active { 
  color: #04302e;
}

#ypcontent h1,h2,h3,h4 { 
  color: #36acc3; 
}

#ypcontent .pagination .next, #ypcontent .pagination .prev, #ypcontent .pagination .page, .submit-row input , #content-main .paginator a
{ 
  border-color: #413a3d;
  color: white;
}


#ypcontent .pagination .next:hover, #ypcontent .pagination .prev:hover, #ypcontent .pagination .current-page, #ypcontent .pagination .page:hover,
.paginator .this-page, .paginator a:hover, a:hover
{ 
  color: black;
  background: url(/gpsfunadmin/menubgover.gif) center center repeat-x;
  border-color: 2px solid #2d2d2d;
}

#ypcontent .pagination .controls a:hover , #container .object-tools a:hover
{ 
  color: black;
  background: url(/gpsfunadmin/menubgover.gif) center center repeat-x;
}


#ypcontent .pagination a { 
  color: white;
}

#ypcontent .pagination .controls 
{ 
  color: yellow;
}


#ypcontent #search-form .filter-rule .condition 
{ 
  color: green;
}

#ypcontent #search-form .filter-rule a, #ypcontent #search-form .filter-rule a:visited { 
  color: #00f;
}

#ypcontent #content table .actions a { 
  color: white;
  border-color: #413a3d;
}

#ypcontent #content table .actions a:hover
{ 
  color: black;
}

.horizontalcssmenu { 
  background-color: #808a8b;
  border-bottom-color: #68666e;
  border-top-color: #b7b4c2;
  border-left-color: #b7b4c2;
}

.horizontalcssmenu ul li a {
  color: #f5f5f5;
}

.horizontalcssmenu ul li ul
{
  border-color: #273734;
}

.horizontalcssmenu ul li ul, #ypcontent #content table th, div.breadcrumbs , #ypcontent table th { 
  background-color: #5e6666;
}


.horizontalcssmenu .menuitemtitle 
{ 
  color: white;
}


.horizontalcssmenu ul li a:hover {
  color: black;
  background: url(/gpsfunadmin/menubgover.gif) center center repeat-x;
}

.horizontalcssmenu .arrowdiv {
  background: transparent url(/gpsfunadmin/menuarrow.gif) no-repeat center left;
}
