{% extends "Routes/base_routes.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

    {% block content %}
    <div class="row">
    <div class="col-md-4">
      <div>
        <a href="https://vseprokharkov.com.ua/product_info.php?products_id=939"
           target="_blank">
          <img src="{% static 'img/guidebook.jpg' %}" />
        </a>
      </div>
      <div class="">
        <a href="https://vseprokharkov.com.ua/product_info.php?products_id=939"
           target="_blank">
        <h4>Альпіністські маршрути Карпат. Путівник</h4>
        </a>
        <h5>Автори-упорядники Олександр Костін, Євген Полтавець</h5>
      </div>
    </div>
    <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <p>
          Предлагаю вашему вниманию список описаний маршрутов зимних восхождений на вершины украинских Карпат.
          </p>
          <p>
          Часть описаний маршрутов составлена после прохождения мною маршрута.
          Другие описания составлены по информации людей, проходивших эти маршруты.
          </p>
          <p>
          Фотографии из разных источников, сообщите мне, если использована ваша фотография без указания автора.
          </p>
          <p>
          Информация на этом сайте служит дополнением и обновлением путеводителя
          <a href="https://vseprokharkov.com.ua/product_info.php?products_id=939"
           target="_blank">
           "Альпинистские маршруты Карпат"</a>, который рекомендую вам приобрести.
          </p>
          <span>Александр Костин galdor@ukr.net</span>
          <br/><br/>

          </p>
          <p>
          Маршруты восхождений в Карпатах классифицированы только для периода с 15 декабря по 31 марта.
          Поэтому описания маршрутов и подходов соответствуют зимнему периоду.
          </p>
          <p>
          Описания маршрутов содержат фотографии с ниткой маршрута, краткие сведения по подходу под маршрут, детальную информацию по участкам маршрута, координаты точек и рекомендации по необходимому снаряжению.
          </p>
          <p>
          Следует учитывать, что состояние маршрута сильно зависит от состояния снежного покрова и погодных условий.
          </p>
          <p>
          Таблица альпинистских маршрутов в украинских Карпатах доступна в списке документов на сайте
          <a href="http://www.fais.org.ua/index.php?do=documents&category=7"
             target="_blank">
             Федерации альпинизма и скалолазания Украины
          </a>
          </p>

          <p>Каждое зимнее восхождение связано с риском для здоровья.
          Нужно физически и тактически готовиться к конкретному восхождению.
          Не торопитесь повышать сложность восхождения, постепенно набирайте необходимый опыт. Подбирайте снаряжение, соответствующее восхождению. </p>
        </div>
      </div>
    </div>
    </div>
    </div>
    <h3>Маршруты восхождений</h3>

    <div>
      {% render_table table %}
    </div>
    {% endblock %}

