#zenlist_block #zenlist_main {
    float: right;
    margin-right: 20px;
    width: 555px !important;
    font-family:Georgia,"Times New Roman",Times,serif !important;
}
.featured_block {
    height: 100%;
    padding-top: 10px;
    overflow: hidden;
    width: 100%;

}
.zenlist_featured_listing_container {
 
}
.zenlist_featured_listing {
    background: none repeat scroll 0 0 #BF0000;
    color: #fff;
    border: none !important;
    display: block;
    float: left;
    height: 94px;
    margin: 0;
    overflow: hidden;
    padding: 4px;
    width: 167px;
}
.zenlist_featured_listing strong {
    color: #fff;
}
a.zenlist_featured_listing {
    font-size: 0.75em;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 7px;
    overflow: hidden;
    text-decoration: none;
}

#zenlist_block .zenlist_product_description, #post_preview_container .zenlist_product_description {
    color: #000;
    font-size: 13px;
    line-height: 18px;
    margin: 9px 0;
}
#zenlist_block a, #colorbox a {
    color: #0000EE;
    text-decoration: none;
    font-weight: normal;
}
#zenlist_block .zenlist_stream_ad_description {
    font-weight: normal;
    height: 80px;
    line-height: 18px;
    margin: 8px 0 0;
    overflow: hidden;
}
.zenlist_stream_ad_location .zenlist_navigation {
    text-decoration: underline !important;
}
.featured_listing h2{
    padding-right: 50px;
}
.zenlist_product_text span {
    color: #BF0000 !important;
}
h2.sectiontitle {
    color: #BF0000 !important;
    font-size: 130%;
    font-weight: bold;
    margin: 0 0 6px;
    padding: 0;   
}
#zenlist-breadcrumbs a{
    color: 	#505050 !important;
}
#zenlist_post select:hover, #zenlist_post input.textfield:hover, #zenlist_post textarea:hover, #zenlist_block #searchfield:hover, #zenlist_post_ad_form_edit select:hover, #zenlist_post_ad_form_edit input.textfield:hover, #zenlist_post_ad_form_edit textarea:hover, .zenlist_dialog_container input.textfield:hover {
    background: none repeat scroll 0 0 #BF0000;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 6px;
    outline: medium none;
    padding: 4px;
    width: 100%;
}
#zenlist_post select:focus, #zenlist_post input.textfield:focus, #zenlist_post textarea:focus, #zenlist_block #searchfield:focus, #zenlist_post_ad_form_edit select:focus, #zenlist_post_ad_form_edit input.textfield:focus, #zenlist_post_ad_form_edit textarea:focus, .zenlist_dialog_container input.textfield:focus {
    background: none repeat scroll 0 0 #BF0000;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 6px;
    outline: medium none;
    padding: 4px;
    width: 100%;
}
#zenlist_block .bluebutton, .zenlist_dialog_container .bluebutton, #zenlist_post_ad_form_edit .bluebuttontall {
    background: url("/static/images/gradient.red.png") repeat-x scroll left top #E0E0E0; }
    
#zenlist_block .bluebutton:active, #zenlist_block .bluebuttontall:active, .zenlist_dialog_container .bluebuttontall:active, .zenlist_dialog_container .bluebutton:active, #zenlist_post_ad_form_edit .bluebuttontall:active, #zenlist_block .greybutton:active, #zenlist_block .greybuttontall:active, .zenlist_dialog_container .greybutton:active, .zenlist_dialog_container .greybuttontall:active {
    border: 1px solid #720000;
    opacity: 0.8;
    text-shadow: none;
} 
#zenlist_block .bluebuttontall, .zenlist_dialog_container .bluebuttontall {
    background: url("/static/images/gradient.red.36.png") repeat-x scroll left top #E0E0E0;
    border: 1px solid #720000;
    color: #FFF;
}   
#zenlist_block .featured_listing {
    background-image: url("/static/images/featured.png");
    background-position: right top;
    background-repeat: no-repeat;
}
#zenlist_block .zenlist_stream_ad {
    border: 1px solid #DEDEDE;
    clear: both;
    margin: 0 0 8px;
    min-height: 155px;
    padding: 8px;
}   
.zenlist_dialog_title {
    background: none repeat scroll 0 0 #d10000 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0 0 8px;
    padding: 8px 15px;
    text-align: left;
} 