body{
	font: normal 12px/16px Tahoma;
	min-width: 940px;
}
.body{
	overflow: hidden;
}
.head {
	background-color:#ccc;
	background-position: right;
	background-repeat: no-repeat;
	height: 67px;
}
.head img {
    margin-left: 20px;
    margin-top: 2px;
}
.toolbar{
	height: 24px;
	background-color: #ddd;
	text-align: right;
	vertical-align: middle;
	padding: 5px 5px 0;
}
.categories{
	width:80%;
	text-align:left;
	margin-top: 2px;
}
.categories h2{
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 500;
	
}
.categories ul{
	list-style: none;
	padding-left: 20px;
	font-size: 12px;
	font-family: Tahoma;
	line-height: 16px;
}
.categories p{
	text-align: right;
	font-size: 11px;
}
.categories a{
	color: #32528b;
}
.categories .sub-categories{
	float: left;
	}
.col1,.col2,.col3{
	float:left;
	width:25%;
	padding:0 10px 10px;
	background-color: #eeeeee;
	margin-right: 2px;
}
/*The Mighty Trick*/

.information {
	float: right;
	width: 300px;
}
.information h2{
	background-image: url("../images/gen-info-bg-head.jpg");
    background-repeat: no-repeat;
    height: 31px;
    padding-top: 12px;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}
.information dl{
	background-color: #f0f0f0;
	margin: 0;
	padding: 10px;
	border: 1px solid #b9b9b9;
	border-top: none !important;
	line-height: 18px;
}
.information dl dt{
	float: left;
    font-weight: bold;
    overflow: hidden;
    padding-right: 5px;
    text-align: right;
    width: 11em;
	
}
.information dl dd{
	margin-left: 12em;
}
.add-right {
    text-align: right;
}

/* JS layers */
#layer1 
{
	position: absolute;
	left:300px;
	top:250px;
	width:450px;
	background-color:#f0f5FF;
	border: 1px solid #000;
	z-index: 50;
	display: none;
}
#layer1_handle 
{
	background-color:#5588bb;
	padding:2px;
	text-align:center;
	font-weight:bold;
	color: #FFFFFF;
	vertical-align:middle;
}
#layer1_content 
{
	padding:5px;
}
#close
{
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}
