body { 
  background-color: #fff;
  color: black;
}

a:link, a:visited { 
  color: blue;
}

a:hover, div.breadcrumbs a:hover { 
  color: black;
}

#content {  
  color: black;
}

#ypcontent #content table { 
  color: black;
}


.errorlist { 
  color: red; 
}

#ypcontent #content {  
  border-color: black;
  background-color: white;
}


#ypcontent #content table td { 
  border-color: #413a3d;
}

#ypcontent form input , form input, textarea { 
  background: #ddd;
  color: #000;
}

#ypcontent form input:focus, form input:focus { 
  background: yellow;
}

#ypcontent .warning { 
  color: #e00;
}

#ypcontent form input[type=submit]:active { 
  color: #04302e;
}

#ypcontent h1, #container  h1 { 
  color: black; 
}

#ypcontent .pagination .next, #ypcontent .pagination .prev, #ypcontent .pagination .page, .submit-row input , #content-main .paginator a
{ 
  border-color: #708090;
  border-width: 1px;
  color: black;
  background-color: #f1fedb;
}



#ypcontent .pagination .controls a, #container .object-tools a , #search-form a { 
  background-color: #f1fedb;
  color: black;
}

#ypcontent .pagination .next:hover, #ypcontent .pagination .prev:hover, #ypcontent .pagination .current-page, #ypcontent .pagination .page:hover,
.paginator .this-page, .paginator a:hover, a:hover,
#content-main .paginator a:hover
{ 
  color: black;
  background: url(/gpsfunadmin/menubgover1.gif) center center repeat-x;
  border-color: #2d2d2d;
  border-width: 1px;
}


#current-filters .value { 
  background-color: yellow;
}

#ypcontent .pagination .controls a:hover , #container .object-tools a:hover
{ 
  color: black;
  background: url(/gpsfunadmin/menubgover1.gif) center center repeat-x;
}


#ypcontent .pagination a { 
  color: black;
}

#ypcontent .pagination .controls 
{ 
  color: yellow;
}


#ypcontent #search-form .filter-rule .condition 
{ 
  color: green;
}

#ypcontent #search-form .filter-rule a, #ypcontent #search-form .filter-rule a:visited { 
  color: #00f;
}

#ypcontent #content table .actions a { 
  color: black;
  border-color: #413a3d;
  background-color: #f1fedb;
}

#ypcontent #content table .actions a:hover
{ 
  color: black;
}

.horizontalcssmenu {
background-color: #dde1e5;
border-color: #ddd #444 #444 #ddd;
border-left:black;
}

.horizontalcssmenu ul li a {
  color: #11223f;
}

.horizontalcssmenu ul li ul
{
  border-color: #eee #ccc #eee #eee;
}

#ypcontent table th { 
  color:#11223F;
}

#ypcontent table td { 
  color: #000;
}

#ypcontent table tr { 
  border-right-color: red;
}

#ypcontent #content table th, div.breadcrumbs , #ypcontent table th { 
  background-color: #d1d1d1;
}


.horizontalcssmenu ul li ul { 
  background-color: #ccc;
}


.horizontalcssmenu .menuitemtitle 
{ 
  color: black;
  font-weight: normal;
  font-family: arial;
}


.horizontalcssmenu ul li a:hover {
  color: black;
  background: url(/gpsfunadmin/menubgover1.gif) center center repeat-x;
}

.horizontalcssmenu .arrowdiv {
  background: transparent url(/gpsfunadmin/menuarrowblackb.gif) no-repeat center left;
}

#container, #container div { 
  background-color:white
}

#container .breadcrumbs { 
  background-color: white;
  background-image: none;
 }

#content #content-main  table td, #content #content-main  table th { 
  background-color: #fff;
  background-image: none;
color: black;
}

#container #content #content-main #changelist-filter , #container #content  #content-related #recent-actions-module
{ 
  background-color: white !important;
}

#content-related #recent-actions-module h2, #content-related #recent-actions-module h3
{ 
  background-color: #dde1e5;
  background-image: none;
  border: 0px solid red;
  color: black;
}



#content-main .paginator
{ 
  background: #dde1e5;
  border: 0px solid #413a3d;
  text-align: left;
}


#content-main #changelist 
{ 
  background-color: white !important;

}

.object-tools li, .object-tools li:hover 
{ 
  background-color: white;
  background-image: none;
  border-color: #413a3d;
}

#container .object-tools a 
{ 
  background-image: none;
  background-color: white;
  color: black;
  text-decoration: none;
}


#content-main .submit-row , .selector select 
{
  background-color: #dde1e5;
  background-image: none;
  border: 0px solid red;
  color: #fff;
}


.submit-row input, input.default[type="submit"]
{ 
  color: black;
  background-color: white;
}

.submit-row input:hover, input.default[type="submit"]:hover
{ 
  color: black;
  background: url(/gpsfunadmin/menubgover1.gif) center center repeat-x;
}

.required label, label.required {
  color: black !important;
}

div.breadcrumbs a:hover  { 
  background: url(/gpsfunadmin/menubgover1.gif) center center repeat-x;
  color: black;
}

.button.default, input.default[type="submit"], .submit-row input.default {
  border:1px solid #43933d;
}

.row1 {
    background-color: #FFFFFF;
}

.row2 {
    background-color: #F7F7F7;
}

.help {
  margin-top: 10px;
  background-color: #e0ffff;
}

.topform {
  margin-bottom: 10px;
}